# Views in SQL
---

A `view` is nothing more than a SQL statement that is stored in the database with an associated name. A view is actually a composition of a table in the form of a predefined SQL query.

A view can contain all rows of a table or select rows from a table. A view can be created from one or many tables which depends on the written SQL query to create a view.

Views, which are a type of virtual tables allow users to do the following âˆ’
- Structure data in a way that users or classes of users find natural or intuitive.
- Restrict access to the data in such a way that a user can see and (sometimes) modify exactly what they need and no more.
- Summarize data from various tables which can be used to generate reports.

### Connecting with the database

In [ ]:
%load_ext sql
# replace with your own credentials
%sql ibm_db_sa://my-username:my-password@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB

In [2]:
%sql select * from STUDENTS

 * ibm_db_sa://lzv55210:***@dashdb-txn-sbox-yp-dal09-12.services.dal.bluemix.net:50000/BLUDB
Done.

[('United States', 'Marshall', 'Bernadot', 54),
 ('United States', 'Celinda', 'Malkin', 51),
 ('Ukraine', 'Guillermo', 'Furze', 53),
 ('Ukraine', 'Aharon', 'Tunnow', 48),
 ('Russia', 'Bail', 'Goodwin', 46),
 ('Poland', 'Cole', 'Winteringham', 49),
 ('Sweden', 'Emlyn', 'Erricker', 55),
 ('Russia', 'Cathee', 'Sivewright', 49),
 ('Poland', 'Barny', 'Ingerson', 57),
 ('Sweden', 'Sharla', 'Papaccio', 55),
 ('Romania', 'Alina', 'Smolyar', 52)]

### 1. Creating a view

In [3]:
%%sql
create view view_1
as select first_name, test_score from 
STUDENTS where country='Russia'

 * ibm_db_sa://lzv55210:***@dashdb-txn-sbox-yp-dal09-12.services.dal.bluemix.net:50000/BLUDB
Done.

[]

### 2. Displaying the view

In [4]:
%sql select * from view_1

 * ibm_db_sa://lzv55210:***@dashdb-txn-sbox-yp-dal09-12.services.dal.bluemix.net:50000/BLUDB
Done.

[('Bail', 46), ('Cathee', 49)]

### 3. Updating the view

In [5]:
%%sql
update view_1 set test_score=50 where first_name='Cathee';
select * from view_1

 * ibm_db_sa://lzv55210:***@dashdb-txn-sbox-yp-dal09-12.services.dal.bluemix.net:50000/BLUDB
1 rows affected.
Done.

[('Bail', 46), ('Cathee', 50)]

### 4. Droping the view

In [6]:
%sql drop view view_1

 * ibm_db_sa://lzv55210:***@dashdb-txn-sbox-yp-dal09-12.services.dal.bluemix.net:50000/BLUDB
Done.

[]

## Thanks for reading :)
Created by [Tarun Kamboj](https://www.linkedin.com/in/kambojtarun/).